
body {
  margin: 0;
  font-family: Hind, Helvetica, Arial, sans-serif;
  font-display: optional;
  background-color: rgb(137, 180, 255);
}

body * {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer{
  background-color:transparent;
}

.md-p {
    margin: 16px 0;
}

.md-code-block code,
.md-p code {
  font-family: "Source Code Pro", "Ubuntu Mono", Menlo, monospace;
  font-size: 14px;
}

.md-code-block {
    font-family: "Source Code Pro", "Ubuntu Mono", Menlo, monospace;
    font-size: 14px;
    line-height: 21px;
    margin: 8px 0px;
    max-width: 100%;
    overflow: auto;
    padding: 8px 8px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
}

.md-block h3 {
  font-weight: 100;
  font-size: 24px;
  margin-top: 48px;
}

.md-p img {
  width: 100%;
  margin: 0px;
}

.circle-green {
    top: 121px;
    left: -97px;
}
.circle-blue {
    top: 99px;
    left: 191px;
}
.circle-yellow {
    top: 126px;
    left: 102px;
}

.circle-dark {
    left: -280px;
    top: -460px;
}

.bubble {
  cursor: pointer;
  transition-duration: 300ms;
}
.bubble:hover {
  transform: scale(1.06);
  filter: brightness(112%);
}

.logo-circle {
    overflow: hidden;
    transform: translateZ(0);
}
